* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #000;
    /* background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

.lang{
    width: 90px;
    padding: 5px 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #A39F9B;
    border-radius: 20px;
}

.login {
    max-width: 500px;
    margin: 100px auto;
    position: relative;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
    /* background-color: #A39F9B; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 50px 0;
    border-radius: 20px;
}

.login .logo {
    background-color: none;
    margin: 40px 0;
}

.login .logo a {
    display: flex;
    justify-content: center;
}

.bi-person,
.bi-key{
    color: #ccc;
}

.login .box {
    width: 372px;
    height: 50px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.login .box:last-of-type{
    border-bottom: 1px solid #ccc;
}

.login .box input {
    width: 300px;
    height: 30px;
    border: none;
    padding-left: 15px;
}

.login .box input:focus{
    outline: none;
    /* background-color: #000;
    color: #fff; */
}

svg{
    display: block;
    width: 25px;
    height: 25px;  
    margin-left: 10px;
    margin-right: 10px;
}

.login form>button{
    margin-top: 30px;
    width: 372px;
    height: 50px;
    background-color: #FF4655;
    border: none;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
}

.banner {
    background-image: url(../image/a28a001165fbc07bb7a2811fda8a33bb9f806ed8-1920x1080.webp);
    background-size: cover;
    background-position: center -28px;
    width: 350px;
    height: 120px;
}

.register ul{
    width: 372px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
}

.register ul>li:not(:last-child)::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #000;
    margin-left: 30px;
}

.register{
    margin-bottom: 30px;
}

.banner{
    margin-bottom: 30px;
}


footer{
    width: 100%;
}

footer .footer_i{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer_i>ul{
    width: 90%;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

footer .footer_i ul>li:not(:last-child)::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #000;
    margin-left: 15px;
}

footer .footer_i ul>li{
    margin-bottom: 10px;
}

footer .footer_i>p{
    margin-bottom: 30px;
}

@media screen and (max-width:430px){
    .login{
        width: 90%;
    }

    .login form{
        width: 100%;
    }
    .login .box{
        margin: 0px auto;
        width: 90%;
    }

    .login button[type="submit"]{
        display: block;
        width: 90%;
        margin: 30px auto;
    }

    .register{
        width: 90%;
    }

    .register ul{
        width: 100%;
        margin: 0px auto;
    }

    .register ul>li{
        font-size: 12px;
        margin-right: 10px;
    }

    .banner{
        width: 90%;
        background-position: center -20px;
    }

    footer{
        width: 100%;
    }

    footer .footer_i{
        margin: 0px auto;
        width: 90%;
        font-size: 12px;
    }

    footer .footer_i ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 12px;
        font-weight: 500;
    }

    footer .footer_i ul>li:not(:last-child)::after{
        display: none;
    }

    footer .footer_i>p{
        margin-top: 30px;
    }
}

